<%- include('partial/header') %>

<div class="home-page">
  <i class="fa-sharp fa-solid fa-key icon"></i>
  <h1>Secrets</h1>
  <p>Don't keep your Secrets, share Them anonymously </p>



<a class='btn btn-light' href="/register">Register</a> <a class='btn btn-dark' href="/login">Login</a>
</div>


<%- include('partial/footer') %>
