<%- include("partial/header.ejs") %>

<div class="home-page">
  <i class="fa-sharp fa-solid fa-key icon"></i>
  <h1>You've Discodered My Secret!</h1>
  <p> I am trying to learn new things !!</p>


  <a class='btn btn-light' href="/register">Register</a> <a class='btn btn-dark' href="/logout">Logout</a>
</div>


<%- include("partial/footer.ejs") %>
